/* Importações */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis Globais */

:root{
    --primary-color: #0a1128;
    --white-color: #f0f5f5;
    --gray-color: #9c9c9c;
    --gap: 3rem;
}

/* Classes*/

.main-img{
    background-size: cover;
    background-position: center;
    color: var(--white-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/confetti-doodles.svg');
}

.white-img{
    background-size: cover;
    background-position: center;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.09rem solid var(--gray-color);
    z-index: 1;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color)
}

.menu h1 a{
    color: inherit;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    color: inherit;
    color: var(--primary-color);
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background-color: #6c63ff;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
}

.menu-spacing{
    min-height: 6rem;
}

/* Classes da seção de introdução */

.intro-content{
    display: grid;
    top: -8rem;
    position: relative;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    gap: var(--gap);
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2{
    font-size: 5.5rem;
    margin-bottom: var(--gap);
    text-transform: uppercase;
    font-weight: 800;
}

.intro-img img, .intro-img svg{
    max-width: 100%;
    height: auto;
}

.top3-content{
    max-width: 75rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top3-content h2{
    margin-bottom: var(--gap);
}

/* Classes de Learning */
.grid-one-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    counter-reset: grid-counter;
    min-height: 100vh;
}

.grid-main-heading{
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 800;
}

.grid-description{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    gap: var(--gap);
    grid-auto-rows: 360px;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-style: italic;
    font-size: 7rem;
    top: -4rem;
    left: -1rem;
    transform: rotate(5deg);
}

/* Classes Gallery */
.grid-img{
    transition: all 360ms ease-in-out;
    overflow: hidden;
}

.grid-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 340px;
    max-height: 340px;
}

.grid-img:hover{
    transform: translate(-3%, 3%) scale(1.05) rotate(5deg);
}

.grid-main-heading{
    margin-bottom: 3rem;
}

/* Classes contact */
.contact-form{
    grid-column:span 2;
}

.form-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap);
    padding: 3rem;
    border-radius: 5px;

}

.flex-input{
    display: flex;
    justify-content: space-between;
}

.form-group{
    flex: 1 1 auto 320px;
}

.form-group label{
    display: block;
}

.form-grid legend{
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 700;
}

.form-group input, .form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
    border-radius: 5px;
}

.form-group button{
    border: 0.2rem solid var(--white-color);
    border-radius: 5px;
    background: none;
    color: var(--white-color);
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 360ms ease-in-out;
    font-weight: 500;
    width: 14rem;
}

.form-group button:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}

.form-group label{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 450;
}

.form-group::placeholder{
    color: var(--gray-color);
}

#contact h2{
    margin-top: 6rem;
    font-size: 5rem;
}

#contact p{
    font-weight: 600;
}

/* Estilização Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif; 
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 4.5rem;
}

p{
    margin-bottom: var(--gap);
}

a{
    text-decoration: none;
}

table{
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}

table td, table th{
    padding: 1.2rem;
    text-align: left;
    border: 0.1rem solid var(--gray-color);
}

table th{
    background-color: #d4d3d3;
}

table caption{
    text-align: left;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.responsive-table{
    overflow-x: auto;
    overflow: hidden;
}

.full-width{
    width: 100%;
    flex: 1 1 100%;
}

textarea{
    font-family: "Open Sans", sans-serif;
}

.footer{
    text-align: center;
}

.footer a{
    color: lightcoral;
}

.footer p{
    margin: 0;
    padding: 5rem;
}